.login-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

ion-card {
  width: 90%;
  max-width: 400px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
